.agreements {
  &__table-container {
    width: 96%;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;

    .react-bootstrap-table {
      width: 100%;
    }
  }

  &__table-row {

    &:hover {
      cursor: pointer;
      background: var(--MAIN_BLACK_2);
    }
  }

  &__selected-row {
    background: var(--MAIN_BLACK_5);
  }

}

.react-bs-table-no-data {
  text-align: center;
}