.main {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    transition: width 0.2s ease-in;
  }
}

.main-reduced {
  width: 89%;
  transition: width 0.2s ease-in;
}