.main {
  &__container {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  &__menu-container {
    width: var(--MENU_WIDTH);
    min-width: var(--MENU_MIN_WIDTH);
    height: 100%;
  }

  &__content-container {
    width: var(--CONTENT_WIDTH);
    height: 100%;
  }
}