.agreements {
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__form-container {
    width: 50%;
    height: 100%;
    min-width: var(--CONTENT_MIN_WIDTH);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid var(--MAIN_BLACK_5);
    //overflow-x: auto;
    @media screen and (min-width: 1700px) {
      width: 35%;
    }
  }

  &__preview-container {
    width: 50%;
    min-width: var(--CONTENT_MIN_WIDTH);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    @media screen and (min-width: 1700px) {
      width: 65%;
    }
  }


}

