.agreements-filter {

  &__container {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
  }

  &__to-process-btn {
    min-width: 120px;
  }

  &__filter-element {
    margin-right: 5px !important;
    width: 20%;
    min-width: 200px;
  }


}