.app__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*padding-bottom: 4px;*/
}

.app__menu-container {
  width: 20%;
  height: 100vh;
  padding-right: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid rgba(105, 105, 105, 0.6);
}

.app__pages-container {
  width: 80%;
}